h1{
  color: Black(240, 100%, 100%, 0.5);
}

p{
    color: red;
}

body{
  background-color: gray;
}

.purple-text{
  color: rgba(0, 0, 255, 0.5);
}

.impotant {
  font-weight:bold;
}

#lead-paragraph{
  color: purple;
  font-weight: bold;
}

.box-1{
  background-color: #333;
  color:#fff;
}
